{# {% extends 'base.html.twig' %} #}
{% block style %}<link rel="stylesheet" href="{{asset('css/login/style.css')}}">{% endblock  %}
{% block body %}
<form method="post">
    
    {% if error is defined %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    
    <section class="connexion">
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username is defined }}" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}">
        <br>

        <button class="btn btn-lg btn-primary" type="submit">
            Connexion
        </button>
        {# Ici on met le menu Nav une fois connecter en tant que prof et utilisateurs #}
        {% if app.user %}
            <div class="mb-3">
                Bonjour {{ app.user.username }} <a href="{{ path('app_logout') }}"><hr>Deconnection</a>
            </div>
        {% endif %}
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir
                </label>
            </div>
            <a href="">Mot de passe oublié ?</a>
            <a href="">Créer un compte</a>
    </section>

    
</form>
{% endblock %}
