{% extends 'base.html.twig' %}

{% block style %}
<link rel="stylesheet" href="{{asset('css/Mes-fiches/style.css')}}">{% endblock %}

{% block title %}Mes fiches{% endblock %}

{% block body %}

{% for f in fiches %}

<section>
    <div class="mes-fiches">
        <a href="{{ path('afficher_fiche', {'id': f.id}) }}" title="Voir cette fiche">{{ f.nom }} - {{ f.niveau }}
            {{ f.Discipline }} </a>
        <div class="date">{{ f.date|date('d/m/Y') }}</div>

        <a href="{{ path('modifier_fiche', {'id': f.id}) }}" title="Modifier cette fiche" class="btn btn-primary">
            <i class="fas fa-edit"></i>
        </a>
        <a href="{{ path( 'supprimer_fiche', {'id': f.id} ) }}" title="Supprimer cette fiche" class="btn btn-danger"
            onclick="return confirm('Êtes-vous sûr ?')">
            <i class="fas fa-trash"></i>
        </a>
    </div>




</section>





{% else %}
<tr>Il n'y a aucune fiche à afficher.</tr>
{% endfor %}


{% endblock %}